
@{
    ViewData["Title"] = "Index";
}



<br />
<h1><i>Thank you for registering</i></h1>
<p> <p> We are happy to have you on are platform</p></p>

<br />
<br />


<form>
    <a asp-controller="Student" asp-action="CourseCard">Return to Student Services</a>
</form>
