
@{
    ViewData["Title"] = "About";
}

<div container style="height:805px">
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are a team committed to delivering quality online module training course as well as .</p>
        <p>.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="C:\Users\Dornubari\source\repos\EasyLearningLTD\Images\IMG_0476.JPG" style="width:100%"/>
                <div class="container">
                    <h2>Dornubari Dumpe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>dumpedornubari@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        
    </div>
</div>