@{
    ViewData["Title"] = "Services";
}

<p>Please Select your preferred service from the dropdown list</p>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn" background-color: #4CAF50;>Services</button>
    <div id="myDropdown" class="dropdown-content">

        <a asp-action="StudentServices">Student Services</a>
        <a asp-controller="Tutor" asp-action="TutorRegistration">Tutor Registration</a>
        <a asp-controller="Tutor" asp-action="TutorRating">Tutor Rating</a>

    </div>
</div>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
