@{
    ViewData["Title"] = "Services";
}


<div class="container" style="height:805px">
    <h2 style="color:black">Search Products/Courses</h2>

        <div class="container">
            <input type="text" placeholder="Enter Keyword" name="SearchKey" class="inputcomn houseText form-control" />
            <div class="searchIcon">
                <button type="button" class="searchBtn">
                    go
                </button>
            </div>
        </div>


        <br />
        <br />

        <p>Please Select your preferred service from the dropdown list</p>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn" background-color: #4CAF50;>Services</button>
            <div id="myDropdown" class="dropdown-content">

                <a asp-action="StudentServices">Student Services</a>
                <a asp-controller="Tutor" asp-action="TutorRegistration">Tutor Registration</a>
                <a asp-controller="Tutor" asp-action="TutorRating">Tutor Rating</a>

            </div>
        </div>


        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

    </div>
