@{
    ViewData["Title"] = "StudentServices";
}

<form class="example" action="/action_page.php">
    <input type="text" placeholder="Search for courses.." name="search" /><button type="submit">GO</button>
</form>
