
<div class="col-md-12">
    <h4><small> Our</small> <i> Trending courses </i></h4>
</div>



<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
        <div class="card h-100 w-100">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Introduction to programming</h5>
                <p class="price">$49.99</p>
                <p class="status">Available</p>
                <p><button class="button">Buy</button></p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="C:\Users\Dornubari\source\repos\EasyLearningLTD\Images\IMG_0476.JPG" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Introduction to .Net</h5>
                <p class="price">$49.99</p>
                <p class="status">Available</p>
                <p><button class="button">Buy</button></p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Introduction to C#</h5>
                <p class="price">$49.99</p>
                <p class="status">Available</p>
                <p><button class="button">Buy</button></p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Introduction to javascript</h5>
                <p class="price">$49.99</p>
                <p class="status">Available</p>
                <p><button class="button">Buy</button></p>
            </div>
        </div>
    </div>
</div>
