@model IEnumerable<EasyLearningLTD.Domain.CourseDomain>


<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Student Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Tutors" asp-action="TutorRegistration">Tutor Registration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Tutor" asp-action="TutorRating">Tutor Rating</a>
    </li>

</ul>
<br />

<h2 style="color:black">Search Products/Courses</h2>

<form asp-action="SearchResult">

    <div class="form-group">
        <label for="SearchTerm" class="control-label"></label>
        <input name="SearchTerm" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>


</form>

<br />




<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100 w-100">
                <img src="..." class="card-img-top" alt="">
                <div class="card-body">
                    <p>  @Html.DisplayFor(modelItem => item.CourseTitle)</p>

                    <p class="price"> @Html.DisplayFor(modelItem => item.Price)</p>

                    <p class="status"> @Html.DisplayFor(modelItem => item.Status)</p>

                    <p><button class="button">Buy</button></p>
                </div>
            </div>
        </div>
    }
</div>